span {
  font-size: 2rem;
}

.education-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.education-section .degree {
  grid-column-start: 1;
  grid-column-end: 3;
}

.education-section .date {
  text-align: right;
}
