.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
}

.row > .company {
  grid-column-start: 1;
  grid-column-end: 3;
}

.company + .location {
  text-align: right;
}

.role + .date {
  grid-column-start: 3;
  grid-column-end: 3;
  text-align: right;
}

ul {
  padding: 0;
  margin: 10px 0 20px 20px;
  list-style-type: circle;
}
