h1 {
  text-align: center;
}

.skills-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
}

.skills-grid-container ul {
  line-height: 1.6;
}

.grid-cell h2 {
  font-size: 2rem;
  margin: 0;
}

.grid-cell ul {
  list-style-type: none;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

.grid-cell.platforms,
.grid-cell.test-frameworks {
  text-align: center;
}

.grid-cell.databases,
.grid-cell.other-tools {
  text-align: right;
}
