<h1>Technical Knowledge</h1>
<div class="skills-grid-container">
  <div class="grid-cell">
    <h2>Languages</h2>
    <ul>
      <li *ngFor="let language of mySkills.languages">
        {{ language }}
      </li>
    </ul>
  </div>
  <div class="grid-cell">
    <h2>Platforms</h2>
    <ul>
      <li *ngFor="let platform of mySkills.platforms">
        {{ platform }}
      </li>
    </ul>
  </div>
  <div class="grid-cell">
    <h2>Databases</h2>
    <ul>
      <li *ngFor="let db of mySkills.databases">
        {{ db }}
      </li>
    </ul>
  </div>
  <div class="grid-cell">
    <h2>OS</h2>
    <ul>
      <li *ngFor="let os of mySkills.operatingSystems">
        {{ os }}
      </li>
    </ul>
  </div>
  <div class="grid-cell">
    <h2>Test Frameworks</h2>
    <ul>
      <li *ngFor="let platform of mySkills.testFrameworks">
        {{ platform }}
      </li>
    </ul>
  </div>
  <div class="grid-cell">
    <h2>Other Tools</h2>
    <ul>
      <li *ngFor="let tool of mySkills.otherTools">
        {{ tool }}
      </li>
    </ul>
  </div>
</div>
