.skills-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 80px;
  grid-row-gap: 5px;
}

.skills-grid-container ul {
  line-height: 1.3;
}

.grid-cell h2 {
  font-size: 2rem;
  margin: 0;
}

.grid-cell ul {
  list-style-type: none;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}
