.skills-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 65px;
  grid-row-gap: 5px;
}

.grid-cell h2 {
  font-size: 2rem;
  margin: 0;
}

.grid-cell ul {
  list-style-type: none;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}
