@font-face {
  font-family: 'noto_monoregular';
  src: url('./assets/notomono-regular-webfont.woff2') format('woff2'),
       url('./assets/notomono-regular-webfont.woff') format('woff');
}

* {
  /* this will help with specifying an element's width i.e. padding + border + margin will be included in the width */
  box-sizing: border-box;
}

html {
  font-family: noto_monoregular;
  /* will use rem unit in the child elements */
  font-size: 10px;
  margin: 1% auto;
  width: 900px;
}

html h1 {
  font-size: 4rem;
  margin: 0 0 5px 0;
}

html ul {
  line-height: 2;
  font-size: 1.7rem;
}
