* {
  /* this will help with specifying an element's width i.e. padding + border + margin will be included in the width */
  box-sizing: border-box;
}

html {
  /* will use rem unit in the child elements */
  font-size: 10px;
  margin: 0 auto;
  width: 900px;
}

html h1 {
  font-size: 4rem;
  margin: 0 0 5px 0;
}

html .container {
  margin: 0 0 25px 0;
}
